#root {
  display: flex;
  flex-direction: column;
  flex: 1;

  max-width: 800px;
  margin: 0 24px;
  width: 100%;
  align-self: center;
}

.card {
  padding: 2em;
}

.bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  gap: 16px;
  padding: 16px;
  border: 1px solid #484848;
  border-radius: 8px;
  background-color: #323232;
}

.bookmark-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  overflow: hidden;

  background-color: #323232;

  border: 1px solid #484848;
  border-radius: 8px;

  width: 100%;
  max-width: 512px;
}

.bookmark-content {
  display: flex;
  flex-direction: column;

  padding: 16px;
  gap: 4px;
}

.bookmark-footer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-top: 1px solid #484848;
}

.bg-danger {
  background-color: red;
}

.error {
  text-align: center;
  color: red;
}

.list {
  display: flex;
  flex-direction: column-reverse;

  gap: 16px;

  align-items: center;
  justify-content: flex-start;
}
